main{
    width: 960px;
    margin: 0 auto;
}
article{
    color: #000;
}
figure{
    float: left;
    margin-top: 0;


}

figcaption{
    width: 300px;
    padding-top: 5px;
    text-transform: uppercase;
    text-align: justify;


}
.text{
    text-align: justify;
    padding: 0 20px;
}

#more{
    display: none;
}
.btn{
    display: none;
}



/* Large Devices, Wide screens */
@media only screen and (max-width: 1200px) {

}
/* Medium Devices, Desctops */
@media only screen and (max-width: 992px) {

}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    main{
        width: 100%;
        margin: 0 auto;
    }
    figure{
        float: none;
        margin: 5%;
    }
    figure>img{
        width: 100%;
        height: auto;
    }
    figcaption{
        width: 100%;
        text-align: center;


    }
    .text{
        text-align: justify;
        padding: 0 5%;
    }
    .more{
        display: none;
    }
    #more{
        display: none;
    }
    .btn{
        display: inline-block;
        padding: 5px;
        background-color: #ffbf82;
        border-radius: 3px;
        margin-bottom:20px;
    }
    .btn:active{
        background-color: #ff7c10;
    }
    .btn:checked + label{
        display: none;
    }
    .btn:checked + label + .more {
        display: block;
    }

}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

}